@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,td,input,select,option,textarea,figure{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;

}
img{
	border:none;
}

/*header*/
.header{
	width: 100%;
	height: 32px;
	background-color:#f2f2f2 ;
	border-bottom: 1px solid #e5e5e5;
}
.headerIndex{
	width: 1190px;
	height: 32px;
	background-color: #f2f2f2;
	margin: 0 auto;
	font-size: 12px;
	color: #999999;
	line-height: 32px;
}
.headerIndex a{
	color: #999999;
}
.headerIndex a:hover{
	color: #ff0036;
	text-decoration:underline;
}
.headerLeft{
	width: 243px;
	height: 32px;
	float: left;

}
.headerLeft li{
	float: left;
	margin-right: 19px;	
}
.headRight{
	width: 519px;
	height: 32px;
	float: right;
	/*vertical-align: middle;*/
}
.headRight li{
	float: left;
	margin-right: 15px;
	text-align: center;
	padding: 0 2px;
}

.headRight li:nth-child(8){
	margin-right: 7px;
}
.headRight span{
	width: 0px;
	height:0px;
	border:3px solid transparent;
	border-top-color: #bbbbbb;
	margin-top: 15px;
	float: right;
	transition: all 0.3s;
}
.headRight li:nth-child(8):hover span,li:nth-child(1):hover span,li:nth-child(3):hover span,li:nth-child(7):hover span{
	transform: rotate(180deg) translateY(3px);
	
}
.headRight i{
	margin-right: 3px;
	float: left;
	color: #ff0036;
}
.headRight li:nth-child(2) i{
	font-size: 12px;
	margin-top: 1px;	
}
.headRight li:nth-child(5) i{
	font-size: 14px;
	margin-top: 1px;
}
.headRight li:nth-child(8) i{
	font-size: 14px;
	margin-top: 1px;
}



/*navBox*/
.navBox{
	width: 100%;
	height: 132px;
	border-bottom: 1px solid #2f2f2f;
}
.nav{
	width: 1190px;
	height: 96px;
	margin: 0 auto;
}
.navBoxT{
	width: 1190px;
	height: 96px;
}

.navMap{
	display: inline-block;
	width:75px;
	height:37px;
	border: 1px solid #e5e5e5;
	border-radius:2px;
	font-size:16px;
	color: #e22a40; 
	margin-left: 69px;
	margin-right: 77px;
	margin-top:25px;
	float: left;
	text-align: center;
	line-height: 37px;
	cursor: pointer;
}

.logoSearch{
	width: 600px;
	height:61px;
	display: inline-block;
	float: left;

}
.logoSearch form{
	width: 540px;
	height:36px;
	margin-top:25px;
}
.logoSearch input:nth-child(1){
	width: 447px;
	height:30px;
	border:3px solid #ff0036;
	border-right: none;
	float: left;
}
.logoSearch input:nth-child(2){
	width: 87px;
	height:36px;
	border:3px solid #ff0036;
	background-color: #ff0036;
	font-size: 16px;
	color: #ffffff;
	border-left: none;
	cursor: pointer;
}

.navBoxB{
	width: 1190px;
	height: 36px;
}
.navBoxB_left{
	width:240px;
	height: 36px;
	background-color: #e12c2c;
	display: inline-block;
	font-size: 16px;
	font-weight:bold;
	color: #ffffff;
	line-height: 36px;
	text-align: center;
}
.navBoxB_right{
	width:185px;
	height: 33px;
	background-color: #bf0000;
	float: right;
	line-height: 33px;
	padding-left: 15px;
	position: relative;
}
.navBoxB_right a:nth-child(1){
	height: 33px;
	background-color: #bf0000;
	/*float: left;*/
	color: #fcff00;
	margin-left: 15px;
	line-height: 33px;
	font-size:12px; 
}
.navBoxB_right a:nth-child(2){
	height: 33px;
	background-color: #bf0000;
	/*float: left;*/
	color: #fbffff;
	margin-left: 10px;
	line-height: 33px;
	font-size: 10px;
}
.navBoxB_last{
	width: 0px;
	height: 0px;
	border: 5px solid transparent;
	border-top-color:#ffffff;
	float: right;
	margin-top: 15px;
	margin-right:8px;
}
.navBoxB_vehicle{
	width: 232px;
	height: 360px;
	z-index: 3;
	border: 4px solid #e22b40;
	border-top: none;
	margin-top: -2px;
	position: relative;
	left: -55px;
	display: none;

}
.navBoxB_vehicle ul{
	width: 232px;
	height: 30px;
}
.navBoxB_vehicle li{
	float: left;
	width: 58px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #f4f4f4;
}
.navBoxB_vehicle p{
	line-height: 20px;
	width: 192px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	margin: 0 auto;
	margin-top: 35px;
}
.navBoxB_vehicle p a:hover{
	text-decoration: underline;
}


/*CommodityDetailsBox*/
.CommodityDetailsBox{
	width: 100%;
	height: 604px;
}

.CommodityDetails{
	width: 1190px;
	height: 604px;
	margin: 0 auto;
}

.CommodityDetailsL{
	width: 990px;
	height: 604px;
	display: inline-block;

}

.CommodityImg{
	width: 460px;
	height: 604px;
	/*background-color: red;*/
	display: inline-block;
/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     	
}

.CommodityImgSpanSmall{
	width: 209px;
	height: 209px;
	/*z-index: 400;*/
	/*background: red;*/
	margin-left:9px;
	position: absolute; 
	top:20px;
	border: 1px solid #999; 
	display: none;
}
.CommodityImgSpanBig{
	width: 418px;
	height: 418px;
	z-index: 400;
	/*background: red;*/
	margin-left:440px;
	position: absolute; 
	top:20px;
	border: 1px solid #999; 
	display: none;
}

.CommodityImgSpan{
	display: inline-block;
	width: 418px;
	height: 418px;
	overflow: hidden;
	border: 1px solid #f2f2f2;
	margin-left:9px;
	/*background-color: red;*/
	position: relative; 
	top:20px; 
	background-image: url(..\img\CommodityDetails\imga1.jpg);
}



.CommodityImg span img{
	width: 418px;
	height:418px;
	float: left;
	position: relative;
	left: 0px;
	top: 0px; 
}
.Commodityimgs{
	clear: both;
	width:460px; 
	height:62px;
	position: relative;
	top: 461px;
}

.Commodityimgs li{
	width:60px; 
	height:60px;
	float: right;
	border: 1px solid black transparent;
	margin: 0 8px;

}
.Commodityimgs ul{
	margin-right: 40px;
}
.Commodityimgs li img{
	width:60px; 
	height:60px;
	
}
.share{
	width: 460px;
	height:80px;
	/*background-color: red;*/
	position: relative;
	top: 461px;
	font-size:12px; 
	color:#999999;
	line-height: 80px;
}
.share a{
	font-size:12px; 
	color:#999999;
}

.Details{
	width: 530px;
	height: 604px;
	/*background-color: green;*/
	display: inline-block;
	float: right;
}
.nameDetails{
	width: 530px;
	height: 56px;
	/*background-color: pink;*/
	padding-top: 16px;
}
.nameDetails h3{
	line-height: 24px;
	margin-left: 10px;
}
.nameDetails span{
	line-height: 22px;
	margin-left: 10px;
}
.PriceDetails{
	background-color: #f0efef;
    /*background-repeat: no-repeat;*/
	width: 510px;
	height: 73px;
	/*background: url(..\img\CommodityDetails\beijing.png);*/
}

.Price{
	width:510px; 
	height:40px;
	line-height: 40px;
}

.freight{
	width:510px; 
	height:47px;
	
	padding-top: 15PX;
}
.freightT{
	width:510px; 
	height:19px;
	line-height: 19px;
	font-size: 12px;
	color:#333333;
}
.freightB{
	width:510px; 
	height:28px;
	font-size:12px; 
	color:#333333;
	line-height: 28px;
}
.freightB img{
	width:78px; 
	height:14px;
}
.freightB a{
	margin-left: 70px;
	margin-right: 5px;
}

.SalesVolume{
	width:510px; 
	height:36px;
	border-top: 1px dotted #c9c9c9;
	border-bottom:1px dotted #c9c9c9;
	line-height: 36px;
	text-align: center;
}
.SalesVolume tr{
	width: 510px;
	height: 16px;
	font-size: 12px;
	color: #999999;
	table-layout: fixed;

}
.SalesVolume td{
	width: 169px;
	border-right: 1px solid #e5dfda;
}

.Number{
	width: 510px;
	height: 154px;
	/*background-color: red;*/
	font-size: 12px;
}
.Number span:nth-child(1){
	height: 154px;
	line-height: 154px;
	margin-left: 10px;
}
.NumberTwoSpan{
	width: 64px;
	height: 31px;
}

.NumberTwoSpan input{
	width: 41px;
	height: 29px;
	border: 1px solid #a7a6ac;
	margin-left: 42px;
}
.shopping{
	width: 510px;
	height: 93px;
	padding-top: 9px;
}
.shopping a{
	display: inline-block;
	width: 180px;
	height: 40px;
	background-color: #ff0036;
	line-height:40px;
	text-align: center;
	margin-left: 76px;
}
.shopping a{
	font-size:16px;
	color:#ffffff ;
}

.fanwei{
	width: 510px;
	height: 225px;
}
.fanwei p{
	width: 402px;
	line-height: 18px;
	font-size: 12px;
}




.CommodityDetailsR{

	width:200px;
	height: 604px;
	float: right;
	
}

.CommodityDetailsRT{
	
	width:200px;
	height: 20px;
	text-align: center;
}
.CommodityDetailsRT span{
	font-size: 12px;
	color: #999999;
	line-height: 18px;
}


.CommodityDetailsRB{
	width:200px;
	height: 522px;
	overflow: hidden;
}
.CommodityDetailsRB ul li img{
	width:140px;
	height: 140px;
}

.CommodityDetailsRB ul li{
	text-align: center;
	width:175px;
	height: 174px;
	margin:0 auto;
}
.CommodityDetailsRB ul li p{
	font-size: 12px;
	color:#62574e;
	text-align:center;
}
.CommodityDetailsRB ul li p a{
	font-size: 12px;
	color:#62574e;
	
}

.CommodityDetailsRB ul li p:hover a{
	
	color:#ff0036;
	text-decoration: underline;
	
}

.CommodityDetailsRButton ul{
	width:175px;
	height: 27px;
}

.CommodityDetailsRButton ul li{
	float: left;
	cursor: pointer;
	color: #afafaf;
}

.CommodityDetailsRButton ul li:first-child{
	margin-left: 60px;
	margin-right: 40px;
}
















/*bannerBox*/

.bannerBox{
	width: 1190px;
	height: 563px;
	margin: 0 auto;
	margin-top: 14px;
}
.bannerBoxL{
	width: 188px;
	height: 563px;
	display: inline-block;
	/*background-color: red;*/
	float: left;
	margin-right: 12px;
}
.bannerBoxL ul li{
	width: 188px;
	height:170px;
}




.bannerBoxR{
	width: 790px;
	height: 563px;
	/*background-color: pink;*/
	float: left;
}

.bannerBoxRT{
	width: 788px;
	height: 48px;
	border: 1px solid #dfdfdf;
	
}
.bannerBoxRT ul li{
	float: left;
	line-height: 48px;
	height: 48px;
}
.bannerBoxRT ul li a{
	color: #333333;
	font-size: 12px;
}

.bannerBoxRT ul li:nth-child(1){
	width: 88px;
	text-align: center;
}
.bannerBoxRT ul li:nth-child(2){
	width: 125px;
	text-align: center;
}
.bannerBoxRT ul li:nth-child(3){
	width: 87px;
	text-align: center;
}


.bannerimg{
	clear: both;
	width: 790px;
	height: 305px;
	background-color: red;
	position: relative;
	overflow: hidden;

}

.bannerimg img,a{
	width: 790px;
	height: 305px;
}

#num {
	width: 240px;
	height:28px;
	line-height: 28px;
	z-index: 100;
	position: relative;
	top: -35px;
	left: 533px;
}
#num li{
	margin-left: 5px;
	float: left;
	width: 24px;
	height:24px;
	border-radius: 50%;
	background-color: #716564;
	cursor: pointer;
	text-align: center;
	line-height: 24px;
}

#num .on{
    background-color: #b91919;
}