@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,td,input,select,option,textarea,figure{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;

}
img{
	border:none;
}

/*header*/
.header{
	width: 100%;
	height: 32px;
	background-color:#f2f2f2 ;
	border-bottom: 1px solid #e5e5e5;
}
.headerIndex{
	width: 1190px;
	height: 32px;
	background-color: #f2f2f2;
	margin: 0 auto;
	font-size: 12px;
	color: #999999;
	line-height: 32px;
}
.headerIndex a{
	color: #999999;
}
.headerIndex a:hover{
	color: #ff0036;
	text-decoration:underline;
}
.headerLeft{
	width: 243px;
	height: 32px;
	float: left;

}
.headerLeft li{
	float: left;
	margin-right: 19px;	
}
.headRight{
	width: 519px;
	height: 32px;
	float: right;
	/*vertical-align: middle;*/
}
.headRight li{
	float: left;
	margin-right: 15px;
	text-align: center;
	padding: 0 2px;
}

.headRight li:nth-child(8){
	margin-right: 7px;
}
.headRight span{
	width: 0px;
	height:0px;
	border:3px solid transparent;
	border-top-color: #bbbbbb;
	margin-top: 15px;
	float: right;
	transition: all 0.3s;
}
.headRight li:nth-child(8):hover span,li:nth-child(1):hover span,li:nth-child(3):hover span,li:nth-child(7):hover span{
	transform: rotate(180deg) translateY(3px);
	
}
.headRight i{
	margin-right: 3px;
	float: left;
	color: #ff0036;
}
.headRight li:nth-child(2) i{
	font-size: 12px;
	margin-top: 1px;	
}
.headRight li:nth-child(5) i{
	font-size: 14px;
	margin-top: 1px;
}
.headRight li:nth-child(8) i{
	font-size: 14px;
	margin-top: 1px;
}



/*navBox*/
.navBox{
	width: 100%;
	height: 132px;
	border: 1px solid #2f2f2f;
}
.nav{
	width: 1190px;
	height: 96px;
	margin: 0 auto;
}
.navBoxT{
	width: 1190px;
	height: 96px;
}

.navMap{
	display: inline-block;
	width:75px;
	height:37px;
	border: 1px solid #e5e5e5;
	border-radius:2px;
	font-size:16px;
	color: #e22a40; 
	margin-left: 69px;
	margin-right: 77px;
	margin-top:25px;
	float: left;
}

.logoSearch{
	width: 600px;
	height:61px;
	display: inline-block;
	float: left;

}
.logoSearch form{
	width: 540px;
	height:36px;
	margin-top:25px;
}
.logoSearch input:nth-child(1){
	width: 447px;
	height:30px;
	border:3px solid #ff0036;
	border-right: none;
	float: left;
}
.logoSearch input:nth-child(2){
	width: 87px;
	height:36px;
	border:3px solid #ff0036;
	background-color: #ff0036;
	font-size: 16px;
	color: #ffffff;
	border-left: none;
	cursor: pointer;
}

.navBoxB{
	width: 1190px;
	height: 36px;
}
.navBoxB_left{
	width:240px;
	height: 36px;
	background-color: #e12c2c;
	display: inline-block;
	font-size: 16px;
	font-weight:bold;
	color: #ffffff;
	line-height: 36px;
	text-align: center;
}
.navBoxB_right{
	width:185px;
	height: 33px;
	background-color: #bf0000;
	float: right;
	line-height: 33px;
	padding-left: 15px;
	position: relative;
}
.navBoxB_right a:nth-child(1){
	height: 33px;
	background-color: #bf0000;
	/*float: left;*/
	color: #fcff00;
	margin-left: 15px;
	line-height: 33px;
	font-size:12px; 
}
.navBoxB_right a:nth-child(2){
	height: 33px;
	background-color: #bf0000;
	/*float: left;*/
	color: #fbffff;
	margin-left: 10px;
	line-height: 33px;
	font-size: 10px;
}
.navBoxB_last{
	width: 0px;
	height: 0px;
	border: 5px solid transparent;
	border-top-color:#ffffff;
	float: right;
	margin-top: 15px;
	margin-right:8px;
}
.navBoxB_vehicle{
	width: 232px;
	height: 360px;
	z-index: 3;
	border: 4px solid #e22b40;
	border-top: none;
	margin-top: -2px;
	position: relative;
	left: -55px;
	display: none;

}
.navBoxB_vehicle ul{
	width: 232px;
	height: 30px;
}
.navBoxB_vehicle li{
	float: left;
	width: 58px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #f4f4f4;
}
.navBoxB_vehicle p{
	line-height: 20px;
	width: 192px;
	text-align: center;
	font-size: 12px;
	color: #333333;
	margin: 0 auto;
	margin-top: 35px;
}
.navBoxB_vehicle p a:hover{
	text-decoration: underline;
}