@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,td,input,select,option,textarea,figure{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
}
body{
	font-family:"微软雅黑";
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;

}
img{
	border:none;
}

.headerBox{
	width: 100%;
	height: 88px;
}
.header{
	width: 1190px;
	height: 88px;
	margin:0 auto;
	line-height: 88px;
}
.header a{
	width: 190px;
	height:27px;

}
.header img{
	width: 190px;
	height:27px;
	margin-top: 30px;
}
.bodyBox{
	width: 100%;
	height: 600px;
	background-color:#dd2726; 
}
.body{
	width: 1190px;
	height: 600px;
	margin:0 auto;
	position: relative;
	
}
.body img{
	width: 1190px;
	height:600px;
	
}
.bodyBox a:nth-child(2){
	display: inline-block;
	width: 630px;
	height:440px;
	z-index:100;
	position: relative;
	top:-520px; 
	left:155px;
}
.bodyRight{
	width: 350px;
	height:394px;
	z-index: 20;
	position: relative;
	top:-909px; 
	left:860px;
	padding-top: 10px;
	background-color: #ffffff;
}
.safeLand{
	width: 143px;
	height:28px;
	line-height: 28px;
	z-index: 23;
	border: 1px solid #df9c1f;
	margin-left: 149px;
}
.safeLand i{
	color: #df9c1f;
	font-size: 14px;
	margin-left: 37px;
}
.safeLand span{
	color: #df9c1f;
	font-size: 12px;
}
.ewLand{
	display: inline-block;
	z-index: 22;
	width: 52px;
	height:52px;
	line-height: 52px;
	color: #ff0036;
	float: right;
	position: relative;
	right:5px;
	top:-29px; 
}
.ewLand i{
	font-size: 48px;
	cursor: pointer;
}
.landForm{
	width: 216px;
	height:300px;

}
.landForm span{
	width: 150px;
	height:22px;
	margin-left: 26px;
	font-size: 16px;
	line-height: 22px;
	color: #3c3c3c;
	font-weight: bold;
}

.MemberName{
	
	margin-left: 25px;
	margin-top: 20px;
}

.MemberName input{
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #cbcbcb;
	margin-top: -5px;
}



.MemberPassword{
	margin-left: 25px;
	margin-top: 20px;
	float: left;
}
/*.MemberPassword label{
	display: inline-block;
	width: 40px;
	height: 40px;
	font-size: 22px;
	color: #606060;
	line-height: 40px;
	text-align: center;
	background-color: #dddddd;
	border: 1px solid #cbcbcb;
	float: left;
}*/

.MemberPassword input{
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #cbcbcb;
}


.MemberPasswordRest{
	margin-left: 25px;
	margin-top: 20px;
	float: left;
}

.MemberPasswordRest input{
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #cbcbcb;
}

/*.Code{
	margin-left: 25px;
	margin-top: 20px;
}
.Code input{
	width:256px;
	height: 24px;
	font-size: 14px;
	line-height:24px;
	border: 1px solid #cbcbcb;
}*/

.MemberPasswordL{
	background-color: #ff0036;
	width: 300px;
	height: 42px;
	font-size:16px;
	border: none;
	border-radius: 3px;
	margin-left: 25px;
	color:#ffffff;
	font-weight: bold;
}
/*foot*/

.footBox{
	width: 100%;
	height: 220px;
	
}
.foot{
	width: 1190px;
	height: 220px;
	margin: 0 auto;
	
}

.foot p{
	height: 35px;
	color: #000000;
}
.foot p a{
	color: #000000;
	font-size: 12px;
	line-height: 35px;

}

.footB{
	width: 1190px;
	height: 150px;
	font-size:12px;
	color: #a4a4a4;
	line-height: 20px;

}
.footB a{
	font-size:12px;
	color: #a4a4a4;

}